<h1 id="scrollspyHeading4">Me contacter</h1>

<div class="contactMain">
    <div class="contactRectEmail">
        <h4 class="text-center">Travaillons ensemble !</h4>
        <div class="d-flex justify-content-around px-5">
            <a href="#">
                <div class="contactEmailBadge text-primary">
                    <span><i class="bi bi-envelope-at me-3"></i>Email</span>
                </div>
            </a>
            <a href="#">
                <div class="contactEmailBadge text-primary">
                    <span><i class="bi bi-chat-dots me-3"></i>Chat</span>
                </div>
            </a>

        </div>
    </div>

    <div class="contactSocialMedia">
        <div>
            <a href="">
                <div class="badgeSocialMedia">
                    <i class="bi bi-instagram"></i>
                </div>
            </a>
        </div>
        <div>
            <a href="">
                <div class="badgeSocialMedia">
                    <i class="bi bi-twitter"></i>
                </div>
            </a>
        </div>
        <div>
            <a href="">
                <div class="badgeSocialMedia">
                    <i class="bi bi-linkedin"></i>
                </div>
            </a>
        </div>
        <div>
            <a href="">
                <div class="badgeSocialMedia">
                    <i class="bi bi-discord"></i>
                </div>
            </a>
        </div>

    </div>
</div>