{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>bienvenue</h1>
    {% include "home/profil.html.twig" %}
    {% include "home/mescompetences.html.twig" %}
    {% include "home/contact.html.twig" %}
{% endblock %}
