<h1 id="scrollspyHeading2">Mes compétences</h1>

<div class="skillsMain row">

    <div class="col-6">
        <div class="skillsRect">
            <h2>Front-end</h2>
            <div class="d-flex">
                {% for skill in skills %}
                    <div class="skillBadge mx-4 py-2">
                        <h3>{{ skill.name }}</h3>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>

    </div>

</div>